.song-album, .song-url, .song-spotify, .song-views, .top-songs-section {
    margin-top: 10px;
}
.SongDetailCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin-bottom: 20px;
}
.top-songs-section {
    grid-column: span 2;
}
.song-links {
    text-align: right;
    & > p {
        margin-bottom: 20px;
    }
}